<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="MyModule">
<head>
    <script src="http://localhost:51019/Scripts/angular.js"></script>
    <script src="Scripts/CustomScript.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body >
    <div ng-controller="MyController">
        <!--<div>
            <table>    Table view using ng-repeat
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.name}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.Salary}}</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
      <div>
           <!--Nested ng-repeat sample using unordered List-->
          <ul>
              <li ng-repeat="country in countries" ng-init="parentIndex=$index">
                  {{country.name}} Index: {{$index}}
                  <ul>
                      <li ng-repeat="city in country.cities">
                          {{city.name}} - Parent Index using ng-Init: {{parentIndex}} Parent Index using $Parent property:{{$parent.$index}} Child Index: {{$index}}
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
</body>
</html> 